.button {
    width: 161px;
    height: 37px;
    flex-shrink: 0;
    margin-left: 45px;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    
}

.subtitle {
    color: #181818;
    text-align: center;
    font-size: 20px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.input {
    color: #363636;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.logo {
    display: flex;
    width: 179.745px;
    height: 10px;
    flex-direction: column;
    flex-shrink: 0;
    color: #E3B873;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header {
    background-color: black;
    text-transform: uppercase;
    
}

.header-navigation {
    list-style: none;
    display: flex;
}
.header-navigation_item {
    
    color: #E3B873;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 47px;
}

.header-navigation_item a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;

}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .7);

}

.hero-container {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    margin-left: 13.4px;
    color: #FFF;
    font-size: 40px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    line-height: 132.825%;
    text-transform: uppercase;
    width: 676.109px;
    height: 105px;
        
}

.gold-text {
    color: #E3B873;
}

.about {
    margin: 0;
    margin-top: 19px;
    margin-bottom: 41px;
    margin-left: 13.4px;
    width: 504px;
    height: 89px;
    color: #FFF;
    font-size: 22px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
}

.button-calculate {
    width: 207px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #E3B873;
    margin-left: 13.4px;
    outline: 0;
    border: 0;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.button_uncolor {
    width: 207px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #FFF;
    margin-left: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.233);
    text-align: center;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

.phone {
    display: flex;
    width: 126px;
    height: 16px;
    flex-direction: column;
    flex-shrink: 0;
    color: #E3B873;
    text-align: right;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.completed {
    background-color: black;
    background-size: cover;
    height: 1110px;
    
}

.completed-container {
    padding-bottom: 416px;
    padding-top: 123px;
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.completed-right-section {
    margin-left: 90px;   
    display: flex;
    flex-direction: column;
    
}
.completed-nav {
    padding-left: 0;
    height: 24px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 10px;
}
.completed-nav-item-1 {
    
    max-width: 200px;
    height: 16.318px;
    color: #E3B873;
    font-size: 14px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    border-bottom: 1px solid #E3B873; 
    padding-bottom: 6.68px; 
}

.completed-nav-item-2 {
    
    max-width: 200px;
    height: 16.318px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.completed-nav-item-3 {
    
    max-width: 200px;
    height: 16.318px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.completed-image {
    margin-top: 30px;
    padding-left: 0;
    width: 679px;
    height: 482px;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    
}

.comleted-left-section{
    
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.completed-header {
    
    display: flex;
    align-items: flex-start;
    width: 253px;
    height: 66px;
    flex-direction: column;
    color: #E3B873;
    font-size: 27px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    letter-spacing: -1.89px;
    text-transform: uppercase;
    
}

.comleted-about {
    margin-top: 30px;
    display: flex;
    width: 442px;
    height: 86px;
    flex-direction: column;
    color: #FFF;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%;
    flex-basis: 0;
    
}

.completed-subtitle{
    color: #E3B873;
    font-size: 18px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.completed-subtitle-text {
    margin-top: 10px;
    color: #FFF;
    font-size: 13px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.completed-parametr {
    
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 1;
}

.compl-parmtr-left {
    display: flex;
    flex-direction: column;
    
    
}

.compl-parmtr-right {
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    
}

.complet-sub {
    height: 76px;
    padding-bottom: 120px;
}

.slide-image {
    display: flex;
}

.online-control{
    height: 954px;
}
.online-container {
    height: 1433px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -320px;
    position: relative;
}

.online-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.online-title-text {
    margin-bottom: 12.79px;
    color: #FFF;
    text-align: center;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.online-title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.online-logo {
    position: relative;
    align-self: center;
}

.online-logo::before,
.online-logo::after {
    content: '';
    position: absolute;
    width: 32px; 
    height: 1.543px; 
    background-color: #E3B873; 
}

.online-logo::before {
    margin-top: 14px;
    left: -40px;
}

.online-logo::after {
    margin-top: 14px;
    right: -40px; 
}

.online-video {
    margin-top: 30px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 817px;
    height: 434px;
    
}

#video {
    opacity: 0.2;
    width: 817px;
    height: 434px;
}
.background {
    background: rgba(0, 0, 0);
    width: 817px;
    height: 434px;
}
.play {
    position: absolute;

}

.online-sub-container{
    width: 681px;
    height: 228.5px;
    display: flex;
    position: relative;
        
}
.online-sub::before {
    top: 62.5px;
    position: absolute;
    content: '';
    align-self: center;
    width: 55px;
    height: 1.543px;
    background-color: #E3B873;
        
    
}
.online-sub {
    margin-top: 97px;
    display: flex;
    width: 681px;
    height: 130.911px;
    flex-direction: column;
    flex-shrink: 0;
    color: #363636;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%;
}

.input-container{
    
    height: 102px; 
    margin-top: 93.5px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    

}
#Input {
    margin-right: 50px;
    width: 231px;
    display: flex;
    border: none;
    border-bottom: 1px solid rgb(209, 209, 209);
    color:  rgba(54, 54, 54, 1);
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; 
}

.transparent-label {
    margin-top: -10px;
    opacity: 0.5;
    color: rgba(54, 54, 54, 1);
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; 
}

.button-submit{
    
    width: 200px;
    height: 51px;
    background-color: #E3B873;
    color: white;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    outline: 0;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.label {
    cursor: pointer;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before{
    opacity: 1;
}

.types_of_repair{
    margin-top: 85.85px;
    height: 910px;
}
.types_container {

    height: 1433px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.types-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.types-title-text{
    width: 257px;
    height: 26px;
    flex-shrink: 0;
    color: #181818;
    text-align: center;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
    margin-bottom: 13px;
}

.types_items {
    margin-top: 31px;;
    width: 1236px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.types_item {
    width: 392px;
    display: flex;
    position: relative;
    justify-content: center;
}

.item_text_container{
    background: #FFF;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03); 
    position: absolute;
    margin-top: 294px;
    width: 330px;
    height: 286px;
    flex-shrink: 0;
    margin-bottom: 28px;
    padding-left: 34px;
    
}

.item_title {
    margin-top: 25px;
    color: #363636;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 24.948px */
}

.item_text {
    margin-top: 13px;
    color: #959595;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%; /* 26.598px */
}

.button-from{
    position: absolute;
    left: 0;
    bottom: -28px;
    width: 200px;
    height: 51px;
    background-color: #E3B873;
    color: white;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    outline: 0;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    
}

.free-free {
    height: 800px;
    display: flex;
    justify-content:space-between;
    width: 1440px;
}

.free{
    height: 920px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    position: relative; 
}

.free_container_left {
    
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 627px;
    height: 539px;
    flex-shrink: 0;
    
}

.left {
    margin-left: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.free-image {
    top: -45px;
    position: absolute;
    left: 285px;
    
}

.round-element {
    width: 41.757px;
    height: 41.757px;
    flex-shrink: 0;
    
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);border-radius: 30px; /* Превращаем элемент в круг */
    background-color: #f1f1f1; /* Цвет фона внутри круга */
    border: 5px solid white; /* Толстый белый контур */
    background: #E3B873;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round_txt {
    width: 33px;
    height: 21px;
    color: #FFF;
    text-align: center;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 24.948px */
}

.left_text {
    margin-left: 16px;
    color: #363636;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fr-right{
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    width: 506px;
}

.free_container_right {
    margin-right: 100px;
    background: #131313;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items:flex-start;
    width: 506px;
    height: 509px;  
    flex-shrink: 0;
    
    
}


.free_cont_right_in {
    margin-top: 28px;
    margin-left: 49px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.inputs_form {
    width: 408px;
    margin-top: -14px;
    
    display: flex;
    flex-direction: column;
}

.right_txt {
    
    width: 297px;
    height: 47px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%; /* 25.78px */
}


.transparent-label-right {
    
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 21.278px */
}

#Input-right {
    
    background: #131313;
    margin-right: 50px;
    width: 100%;
    display: flex;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #FFF !important;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; 
    
}

.form-right {
    margin-top: 51px;
}
.text-right {
    
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 22.915px */
}

.label_right {
    margin-top: 21px;
}

.button_free_right {
    
    display: flex;
    position: relative;
}

.button-call_measurer {
    
    position: absolute;
    width: 200px;
    height: 51px;
    background-color: #E3B873;
    color: white;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    outline: 0;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.help-save {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.help-save-logo{
    padding-top: 15px;
    display: flex;
}

.help-save-text{
    display: flex;
    color: #E3B873;
    text-shadow: 0px 3px 10px 0px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%; /* 25.78px */
}

.fantasies {
background-image: url('../images/image 50.jpg');
background-size: cover;
position: relative;
}
.fantasies-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.90) 100%);

}

.fantas {
    height: 864px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fanta-left {
    margin-top: 137px;
    
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 920px;
    
}

.fanta_tite {
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 37.422px */
    text-transform: uppercase;
}

.fanta-items  a {
    top: 74px;
    height: 230%;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%; /* 38.192px */
}
.fanta-item1  a {
    color: #E3B873;
}

.fantas-img{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 755px;
}

.fanta-center {
    position: absolute;
    left: 0;
    top: -41px; 
    display: flex;
    flex-direction: column;
    height: 110%;
    align-self:flex-start;
    justify-content: space-between;
    
}

.fanta-right {
    top: -112px; 
    right: 0;
    height: 109%;
    justify-content: space-between;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.clients{
    margin-top: 110px;
    height: 1150px;
}

.clients-bg{
    display: flex;
    height: 1210px;
    align-items: center;
    background-image: url(../images/bg-left.jpg), url(../images/bg-right.jpg);
    background-repeat: no-repeat;
    background-size: 50% 100%, 50% 100%;
    background-position: left top, right top;

}

.clients_container{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.clients-title{
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.clients-title-text{
    display: flex;
    color: #181818;
    text-align: center;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; 
    text-transform: uppercase;
}

.clients-title-logo{
    display: flex;
    margin-top: 13px;
    
}

.client-sub{
    display: flex;
    margin-top: 24px;
    color: #363636;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 29.462px */
}

.clients_items{
    margin-top: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.clients_item{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clients_item_text_container{
    position: relative;
    padding-left: 20px;
    padding-right: 35px;
    width: 376px;
    height: 428px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.client{
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.photo-client{
    clip-path: circle(50%); 
}
.clients_item_title{
    display: flex;
    margin-left: 15px;
}

.clients_item_text{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #959595;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 23.4px */
}

.clients1{
    margin-right: 54px;
}

.clients2{
    margin-right: 54px;
}

.clients_item_info{
    padding: 10px 10px;
    width: 293.753px;
    height: 54px;
    flex-shrink: 0;
    background: #E3B873;
    box-shadow: 5px 5px 20px 0px rgba(227, 184, 115, 0.50);
    display: flex;
    position: absolute;
    bottom: -27px;
    left: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.info_text{
    color: #FFF;
    font-family: Yeseva One;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 23.562px */
}

.info-client{
    width: 32.345px;
    height: 31.346px;
    flex-shrink: 0;
}

.form-questions {
    z-index: 1; 
    padding: 34px 181px;
    margin-top: -222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 883px;
    height: 445.319px;
    background-color: black;
}

.title-questions{
    
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; 
    text-transform: uppercase;
}

.questions_inputs{
    
    display: flex;
    flex-direction: column;
            
}

.name-phone-questions{
    display: flex;
    flex-direction: row;
}

.transparent-label-questions {
    
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; /* 21.278px */
}

#Input-questions {
    
    background: black;
    margin-right: 50px;
    width: 100%;
    display: flex;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #FFF !important;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%; 
    
}
.input-your-question{
    margin-top: 39px;
    margin-bottom: 30px;
}
.input-question_name{
    margin-right: 58px;
    
}

.button-question-submit{
    bottom: 34px;
    width: 200px;
    height: 51px;
    flex-shrink: 0;
    background-color: rgba(227, 184, 115, 1);
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 204.6%; /* 26.598px */
    text-transform: uppercase;
}
.label_questions{
    margin-bottom: 20px;
}

.maps{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
    height: 1000.898px;
    background-image: url(../images/image7.2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.maps-overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.90) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    
}

.map{
    margin-top: 86px;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.map-title{
    display: flex;
    color: #E3B873;
    text-align: center;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
}

.logo-social{
    display: flex;
}

.map-img{
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
}

.footer {
    background-color: black;
    text-transform: uppercase;
    height: 133px;
}

.footer-navigation {
    list-style: none;
    display: flex;
}
.footer-navigation_item {
    
    color: #E3B873;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 47px;
}

.footer-navigation_item a {
    text-decoration: none;
    color: white;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 133px;
    align-items: center;
}